.hero-section {
  background-color: #03e7f4;
  padding: 40px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.hero__title {
  text-align: center;
}

.hero__its {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero__head {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero__im {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero__text {
  max-width: 600px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.wh {
  font-size: 30px;
  transition: all 0.3s;
}

.wh:hover {
  transform: scale(1.2);
}

.btn__dow {
  padding: 15px 25px;
  background-color: red;
  border: 5px solid black;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn__dow:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px 5px green;
}

.hero__img-img {
  transition: all 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.hero__img-img:hover {
  transform: scale(1.2);
}

.icons {
  display: block;
}

.mr {
  margin-right: 20px;
}

@media only screen and (max-width: 950px) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .hero__img {
    margin-bottom: 40px;
  }
  
  .icons {
    display: block;
    margin-bottom: 40px;
  }
  
  .mr {
    margin-right: 10px;
  }
}