.site-footer {
  background-color: #0a0a6c;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.footer__head {
  font-size: 2rem;
  color: white;
}

.footer__admin {
  font-size: 2rem;
  color: white;
}